.App {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
form{
  width: 70%;
  margin: auto;
  display: flex;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  /* justify-content: space-between; */
  gap: 1rem;
}
.search-btn{
  display: flex;
  padding: 3px 10px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgb(3, 182, 232);
  align-items: center;
  color: white;
}
.search-btn:hover{
  background-color: rgb(2, 163, 207);
}
/* user list */
.userlist-container{
  padding: 2rem;
  
}